In [1]:
print('Hola mundo')

Hola mundo

In [ ]:
"""
Comentarios de múltiples líneas
"""

#Comentarios de una lína

In [1]:
#Variables primitivas
entero = 3
decimal = 1.1
nombre = "Christian"
apellido = "Benítez"
casado = False
hijos = None

print(type(entero))  # int
print(type(decimal))  # float
print(type(nombre))  # str
print(type(apellido))  # str
print(type(casado))  # boolean
print(type(hijos))  # NoneType

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [6]:
#Condicional
#Trusty - Falsy

print("Sin ningún valor:")
if(""):  # Falsy
    print("Trusty \n")
else:
    print("Falsy \n")

print("Valor String:")
if("a"):  # Trusty
    print("Trusty \n")
else:
    print("Falsy \n")

print("Valor numérico 0:")
if(0):  # Falsy
    print("Trusty \n")
else:
    print("Falsy \n")

print("Valor numérico negativo:")
if(-1):  # Trusty
    print("Trusty \n")
else:
    print("Falsy \n")

print("Valor numérico positivo:")
if(1):  # Trusty
    print("Trusty \n")
else:
    print("Falsy \n")

print("Valor decimal 0:")
if(0.00):  # Falsy
    print("Trusty \n")
else:
    print("Falsy \n")

print("Valor decimal diferente de 0:")
if(0.01):  # Trusty
    print("Trusty \n")
else:
    print("Falsy \n")    

print("Valor None:")
if(None):  # Falsy
    print("Trusty \n")
else:
    print("Falsy \n")

Sin ningún valor:
Falsy

Valor String:
Trusty

Valor numérico 0:
Falsy

Valor numérico negativo:
Trusty

Valor numérico positivo:
Trusty

Valor decimal 0:
Falsy

Valor decimal diferente de 0:
Trusty

Valor None:
Falsy

In [7]:
#Tipos de datos
#Listas - Tuplas - Diccionario

tuplas = ()
listas = []
diccionarios = {}
print(type(tuplas))  # tuple
print(type(listas))  # list
print(type(diccionarios))  #dict

<class 'tuple'>
<class 'list'>
<class 'dict'>

In [8]:
#Condicionales
#Listas - Tuplas -Diccionarios
print("Tupla vacia:")
if(()):  # Falsy
    print("Truty \n")
else:
    print("Falsy \n")

print("Tupla llena:")
if((1, 2)):  # Truty
    print("Truty \n")
else:
    print("Falsy \n")

print("Lista vacia:")
if([]):  # Falsy
    print("Truty \n")
else:
    print("Falsy \n")

print("Lista llena:")
if(["a", "b"]):  # Truty
    print("Truty \n")
else:
    print("Falsy \n")

print("Diccionario vacío:")
if({}):  # Falsy
    print("Truty \n")
else:
    print("Falsy  \n")

print("Diccionario lleno:")
if({nombre: "Christian"}):  # Truty
    print("Truty \n")
else:
    print("Falsy \n")

Tupla vacia:
Falsy

Tupla llena:
Truty

Lista vacia:
Falsy

Lista llena:
Truty

Diccionario vacío:
Falsy

Diccionario lleno:
Truty

In [16]:
#Filtrar arreglos
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

arreglo[2:5]  #Filtar desde la posición 2 hasta la 5 sin incluir([[)

[3, 4, 5]

In [17]:
arreglo[2:]  #Filtrar desde la posición 2 hasta la última

[3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
arreglo[:7]  #Filtrar desde el inicio hasta la posición 7 sin incluir

[1, 2, 3, 4, 5, 6, 7]

In [21]:
arreglo[-1]  #Filtrar el último valor

10

In [22]:
arreglo[2:-1]  #Filtrar desde la posición 2 hasta la última sin incluir

[3, 4, 5, 6, 7, 8, 9]

In [25]:
arreglo[-8:-1]  #Filtrar desde la posición 8 (de derecha a izquierda) hasta la última posición sin incluir

[3, 4, 5, 6, 7, 8, 9]

In [28]:
arreglo[-9:]  #Filtrar desde la posición 9 (de derecha a izquierda) hasta el último

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
arreglo[:-2]  #Filtrar desde el inicio hasta la posicion 2 (de derecha a izquierda)

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
arreglo[:]  #Filtrar desde el inicio hasta el final

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
#Longitud arreglo
len(arreglo)

10

In [35]:
#Agregar valores en arreglo
arreglo.append(11)
arreglo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

In [37]:
#Sacar el último valor de un arreglo
arreglo.pop()
arreglo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [38]:
#Insertar valores en una posición
arreglo.insert(1, 1.1)
arreglo

[1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [39]:
#Recorrer areglos
for numero in arreglo:
    print (numero)

1
1.1
2
3
4
5
6
7
8
9
10
11

In [46]:
#Crear un diccionario
christian = {
    'nombre': "Christian",
    'apellido': "Benitez",
    'hijos': None,
    'casado': False,
    'edad': 21,
    'sueldo': 1.50,
    'mascota': [{'nombre': "Bratt"}]
}

christian

{'nombre': 'Christian',
 'apellido': 'Benitez',
 'hijos': None,
 'casado': False,
 'edad': 21,
 'sueldo': 1.5,
 'mascota': [{'nombre': 'Bratt'}]}